@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: hsl(185, 75%, 39%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.circle {
    position: fixed;
    width: 1200px;
    top: -450px;
    left: -360px;
}

.bottom {
    position: fixed;
    top: 350px;
    right: -180px;
}

main {
    width: 350px;
    height: 370px;
    background: hsl(185, 75%, 39%);
    background: white; 
    position: fixed;
    z-index: 1;
    border-radius: 3%;
}

#bckg {
    background-image: url('../images/bg-pattern-card.svg');
    background-size: cover;
    width: 350px;
    height: 140px;
    border-radius: 5% 5% 0% 0%;
}

#photo {
    position: absolute;
    left: 122px;
    top: 85px;
    border: 5px solid white;
    border-radius: 100%;    
}
 
#name {
    position: relative;
    font-size: 18px;
    font-weight: 700;   
    left: 108px;
    top: 70px;
}

#name span {
    padding-left: 5px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

#london {
    position: relative;
    font-size: 14px;
    top: 78px;
    left: 150px;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 125px;
}

.bold {
    font-weight: 700;
    font-size: 18px;
}

.thin {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    font-size: 10px;
    letter-spacing: 1px;
}

@media (min-width: 320px) and (max-width: 370px){
    main {
        width: 300px;
    }

    #bckg {
        width: 300px;
    }

    #photo {
        left: 97px;
    }

   .container {
        width: 300px;
    }

    #name {
        left: 78px;
    }

    #london {
        left: 120px;
    }
}
